
{% extends 'register/main.html' %}
{% load static %}

{% block content %}
    <h3>Home</h3>
    <hr>
    <p>Cuộc thi lập trình UIT UCPC xuất phát từ mục đích đẩy mạnh phong trào thi đua học tập, sáng tạo trong cộng đồng sinh viên trường ĐH Công nghệ Thông tin và toàn thể sinh viên đam mê lĩnh vực lập trình. Là cơ hội để những sinh viên đam mê lĩnh vực lập trình C/C++, Java; có khả năng làm việc nhóm trong môi trường lập trình quốc tế, thi tài và nâng cao kiến thức. Cuộc thi là nơi trường ĐH CNTT phát hiện và bồi dưỡng những sinh viên xuất sắc tham gia các cuộc thi quốc tế như: cuộc thi lập trình sinh viên quốc tế UCPC/ICPC, … cuộc thi cũng là nơi để các doanh nghiệp tìm kiếm nguồn nhân lực giỏi trong tương lai.</p>
    
{% endblock content %}
