{% extends 'register/main.html' %}
{% load static %}
{% block main %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #482b78; border-bottom: 1px rgba(255, 255, 255, 0.2) solid;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'register:home' %}">
            <img width="83px" height="83px" src="{% static 'register/images/introduction/logo3.jpg' %}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'register:home' %}">Home<span class="sr-only">(current)</span></a>
                </li>

            </ul>
            {% if request.user.is_authenticated %}
            <div class="form-inline my-2 my-lg-0">
                <a href="{% url 'register:profile' %}" class="btn btn-success" style="width:80px;">Profile</a>
            </div>
            <div class="form-inline my-2 my-lg-0">
                <a href="{% url 'register:logout' %}" class="btn btn-warning" style = "margin-left: 5px; width:80px;">Logout</a>
            </div>
            {% else %}
            <div class="form-inline my-2 my-lg-0">
                <a href="{% url 'register:login' %}" class="btn btn-success" style="width:80px;">Login</a>
            </div>
            <div class="form-inline my-2 my-lg-0">
                <a href="{% url 'register:register' %}" class="btn btn-warning" style = "margin-left: 5px;width:80px; border: none;">Register</a>
            </div>
            {% endif %}
        </div>
    </div>
</nav>
<div>
    {% block content %}


    {% endblock content %}
</div>
{% endblock main %}