<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCPC</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container {
        color: green;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 400px;
        max-width: 700px;
        font-size: 20px;
        margin: 150px auto;
        background-color: #ccc;
        border-radius: 5px;
    }
</style>
<body>
    <div class="container">
        <h1>{{ st }}</h1>
    </div>
</body>
</html>