/* .carousel{
    width: fit-content;
} */
#introduction_slider
{
    width: auto;
}

/* #introduction_slider > .carousel-inner > .carousel-item > img, video
{
    width: 100%;
} */

#sponsor_slider_indicators li
{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

#countdown_info > #countdown_clock > #countdown > ul > li
{
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
}

#countdown_info > #countdown_clock > #countdown > ul > li > span
{
    display: block;
}

