/* Style for countdown */
#countdown
{
    background-color: white;
    margin-top: 30px;
}

#countdown #countdown_info div
{
    color: #482b78
}

#countdown #countdown_info div h1
{
    font-size: 60px;
    font-weight: bold;
}

#countdown #countdown_systm h4
{
    color: #482b78
}

#countdown_clock li span
{
    display: block;
    font-size: 2.5rem;
}

#countdown_clock li
{
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 1em;
    color: white;
    background-color: #482b78;
    width: 120px;
    height: 120px;
    text-align: center;
    /* border-radius: 30px; */
}

#countdown_clock h6
{
    text-align: center;
}

/* Style for countdown */



/* Style for timeline */

#timeline
{
    margin-top: 15px;
}

#timeline_heading h3
{
    color: #482b78;
    font-weight: bold;
    font-size: 60px;
}

ul.timeline
{
    list-style-type: none;
    position: relative;
}

ul.timeline:before 
{
    margin-left: 15px;
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 31px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li 
{
    margin-left: 15px;
    margin-top: 20px;
    padding-left: 20px;
    color: #482b78;
}

ul.timeline > li > h5
{
    font-size: 40px;
}

ul.timeline > li:before 
{
    margin-top: 10px;
    margin-left: 15px;
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #482b78;
    left: 20px;
    width: 25px;
    height: 25px;
    z-index: 400;
}

/* Style for timeline */



#introduction_slider
{
    height: 900px;
}

