nav > .collapse > ul > li > a
{
    font-size: 25px;
    color: white;
    margin-left: 60px;
    margin-right: 60px;
}

nav
{
    background-color: #482b78;
}

.navbar-brand
{
    margin-left: 150px;
    margin-right: 150px;
} 

/* #nav_left
{
    margin-right: 140px;
} */

/* #nav_right
{
    margin-left: 2000px; 
} */


